# Banking Operations using Python and SQL

#### Importing mysql.connector driver library for Python

In [3]:
import mysql.connector as s

#### Establishing Connection with MySQL database

In [4]:
datalibrary = s.connect(host="localhost",user="root",password="sb@123",auth_plugin='mysql_native_password')
#Inspecting connection
if datalibrary.is_connected():
    print("Successfully connected")
else:
    print("Not connected")

Successfully connected

#### Perform SQL query execution with the cursor

In [5]:
curs = datalibrary.cursor()

#### Establish a database for Banking Management

In [6]:
curs.execute("Create database Bank_Operation")

#### Define tables for managing Bank_Account and Bank_Balance

In [7]:
curs.execute("Use Bank_Operation")
curs.execute("Create table Bank_Account(User_Accountno varchar(15) primary key,User_Name varchar(30),DOB varchar(10),Address varchar(50),Phone_no varchar(10),Opening_balance int)")

In [8]:
curs.execute("Create table Bank_Balance(User_Accountno varchar(15) primary key,User_Name varchar(30), Balance int)")

#### Create bank-related function - 
1.open_Account, 2.deposit_amount, 3.withdraw_amount, 4.check_balance, 5.display details of user, 6.close an account

In [11]:
def open_account():
    name = input("Enter name:")
    account_no = input("Enter account no:")
    dob = input("Enter DOB:")
    address = input("Enter address:")
    phone = input("Enter phone:")
    open_bal = int(input("Enter opening balance:"))
    data1 = (account_no,name,dob,address,phone,open_bal)
    data2 = (account_no,name,open_bal)
    sql1 = "insert into Bank_Account values(%s,%s,%s,%s,%s,%s)"
    sql2 = "insert into Bank_Balance values(%s,%s,%s)" 
    curs = datalibrary.cursor()
    curs.execute(sql1,data1)
    curs.execute(sql2,data2)
    datalibrary.commit()
    print("Data Entered successfully")
    Core_program()

def deposit_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from Bank_Balance where User_Accountno=%s"
    data = (an,)
    curs = datalibrary.cursor()
    curs.execute(a,data)
    result = curs.fetchone()
    t = result[0]+amount
    sql = "update Bank_Balance set balance=%s where User_Accountno=%s"
    data = (t,an)
    curs.execute(sql,data)
    datalibrary.commit()
    Core_program()

def withdraw_amount():
    amount = int(input("Enter amount:"))   
    an = input("Enter account no:")
    a = "select balance from Bank_Balance where User_Accountno=%s"
    data = (an,)
    curs = datalibrary.cursor()
    curs.execute(a,data)
    result = curs.fetchone()
    t = result[0]-amount
    sql = "update Bank_Balance set balance=%s where User_Accountno=%s"
    data = (t,an)
    curs.execute(sql,data)
    datalibrary.commit()
    Core_program()
    
    
#ac = account_number 
def check_balance():
    ac = input("Enter account no:")
    a = "select balance from Bank_Balance where User_Accountno=%s"
    data = (ac,)
    curs = datalibrary.cursor()
    curs.execute(a,data)
    result = curs.fetchone()
    print("Balance for Account:",ac,"is",result[0])
    Core_program()



def display_user_details():
    ac = input("Enter account no:")
    a = "select * from Bank_Balance where User_Accountno=%s"
    data = (ac,)
    curs = datalibrary.cursor()
    curs.execute(a,data)
    result = curs.fetchone()
    for i in result:
        print(i,end=" ")  
    Core_program()


def close_account():
    ac = input("Enter account no:")
    sql1 = "delete from Bank_Account where User_Accountno=%s"
    sql2= "delete from Bank_Balance where User_Accountno=%s"
    data = (ac,)
    curs = datalibrary.cursor()
    curs.execute(sql1,data)
    curs.execute(sql2,data)
    datalibrary.commit()
    Core_program()
    
def Core_program():
    print("""
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account
    """)
    choice = int(input("Enter Task number: "))
    if(choice==1):
        open_account()
    elif(choice==2):
        deposit_amount()
    elif(choice==3):
        withdraw_amount()
    elif(choice==4):
        check_balance()
    elif(choice==5):
        display_user_details()
    elif(choice==6):
        close_account()
    else:
        print("Give Wrong input please enter right input")
Core_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 1
Enter name:Yogender
Enter account no:67553014
Enter DOB:03/02/2003
Enter address:Indore
Enter phone:7812411273
Enter opening balance:10000
Data Entered successfully

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### To show all results from first table and second table

In [12]:
curs.execute("select * from Bank_Account")
for i in curs:
    print(i)

('23168754', 'Vishal', '17/06/2000', 'Dehradun', '9762183322', 1200)
('34761458', 'Shubh', '08/12/2001', 'Hydrabad', '9871844225', 9000)
('45812905', 'Varun', '08/07/1995', 'Greater Noida', '9324550726', 14000)
('67553014', 'Yogender', '03/02/2003', 'Indore', '7812411273', 10000)
('76340178', 'Anjali', '21/09/2005', 'Rohtak', '8621340775', 2000)

In [13]:
curs.execute("select * from Bank_Balance")
for i in curs:
    print(i)

('23168754', 'Vishal', 1200)
('34761458', 'Shubh', 9000)
('45812905', 'Varun', 14000)
('67553014', 'Yogender', 10000)
('76340178', 'Anjali', 2000)

#### Withdraw amount from any account

In [14]:
Core_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 3
Enter amount:100
Enter account no:23168754

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### After withdraw result

In [15]:
curs.execute("select * from Bank_Balance")
for i in curs:
    print(i)

('23168754', 'Vishal', 1100)
('34761458', 'Shubh', 9000)
('45812905', 'Varun', 14000)
('67553014', 'Yogender', 10000)
('76340178', 'Anjali', 2000)

#### Check balance

In [16]:
Core_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 4
Enter account no:45812905
Balance for Account: 45812905 is 14000

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Display details of user

In [17]:
Core_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 5
Enter account no:76340178
76340178 Anjali 2000
    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### Close account

In [18]:
Core_program()

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 6
Enter account no:34761458

    1.Open New Account
    2.deposit account
    3.withdraw amount
    4.balance check
    5.display details of user
    6.close an account

Enter Task number: 7
Give Wrong input please enter right input

#### show result after close account

In [19]:
curs.execute("select * from Bank_Balance")
for i in curs:
    print(i)

('23168754', 'Vishal', 1100)
('45812905', 'Varun', 14000)
('67553014', 'Yogender', 10000)
('76340178', 'Anjali', 2000)

#### Show table

In [20]:
curs = datalibrary.cursor()
curs.execute("show tables")
for i in curs:
    print(i)

('bank_account',)
('bank_balance',)